.footer-commit{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 372px;
}
.footer-commit2{
    font-weight: 400;
    font-size: 16px;
    line-height: 186.3%;
    text-decoration: none;
}