.form-section{
    padding: 0 0 148px;
}
.form-big-box{
    padding: 50px 40px;
}
.form-box{
    position: relative;
}
.form-main-theme{
    font-weight: 600;
    font-size: 20px;
    line-height: 187.5%;
}
.form-main-commit{
    color: #525252;
    font-size: 12px;
    font-weight: 400;
    line-height: 187.5%;
}
.form-theme {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}
.form-commit{
    font-size: 15px;
    line-height: 22px;
    max-width: 636px;
}

.form-input {
    height: 48px;
    color: #898989;
}

.form-input-btn {
    position: absolute;
    top: 10%;
    right: 2%;
    background-color: #DC7000;
}
@include desktop-first(768px) {
    .form-section{
        padding: 0 0 70px;
    }  
    .form-big-box{
        padding: 23px 20px;
    }

}
@include desktop-first(375px) {
    .form-input-btn {
        position: static;
        width: 100%;
        margin-top: 15px;
    }  
}