.form-section{
    padding: 148px 0;
}
.form-box{
    position: relative;
}

.form-input {
    height: 48px;
    color: #898989;
}

.form-input-btn {
    position: absolute;
    top: 10%;
    right: 2%;
    background-color: #DC7000;
}
@include desktop-first(375px) {
    .form-input-btn {
        position: static;
        width: 100%;
        margin-top: 15px;
    }  

}