.tree-girls{
    padding-bottom: 135px;
}
@media only screen and (max-width: 992px) {
    .tree-girls{
        padding-bottom: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .tree-girls{
        padding-bottom: 50px;
    }
}